:root{

    --bg-img: #a1a1a1;

    --color-img-span: #5d5d5d;

    --color-description: #555;

    --bg-button: transparent;
    --border-button: #777;
    --color-button: #333;

    --bg-button-hover: #555;
    --color-button-hover: white;

    --font-family-desription: "Montserrat", sans-serif;





}